#container {
    height: 800px;
    width: 800px;
    padding: 120px;
    margin: auto;
    font-size: 0;
    background-color: #db0707;
}

.surface {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #b3b3b3;
}

.hoverColor {
    background-color: #666;
}

header {
    height: 100px;
    width: 100%;
    text-align: center;
}

button {
    position: relative;
    top: 25%;
}
